body {
  margin: 0;
  padding: 0;
}

.quote-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 40px;
}

.quote-h1 {
  font-family: "Julius Sans One", sans-serif;
  margin: 0;
  font-size: 40px;
  width: 60%;
  text-align: center;
}

.quote-p {
  font-family: "Raleway", sans-serif;
}

.separator-line {
  width: 10%;
  height: 1.5px;
  background-color: #318cba;
  margin: 0 auto;
}

.about-us-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3% 7%;
}

.about-us-div {
  width: 29%;
}

.about-us-h3-div {
  margin-bottom: 10%;
  font-weight: bold;
}

.about-us-h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.about-us-p {
  font-family: "Raleway", sans-serif;
  line-height: 25px;
  font-weight: 300;
}

.moving-car-div {
  padding: 30px 0;
  overflow-x: hidden;
}

.section-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.section-h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #318cba;
  font-size: 60px;
  margin: 2%;
  margin-bottom: 0%;
}

.cards-container {
  margin: 20px 70px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  height: 375px;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #318cba;
  border-radius: 50%;
  margin: 0 5px;
}
