.testimonial-div {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin-top: 0%;
}

.testimonial-img-div {
    width: 20%;
    display: flex;
    justify-content: right;
    padding-top: 2%
}

.testimonial-text-div {
    box-sizing: border-box;
    padding: 2% 4%;
    width: 80%;
}

.testimonial-img {
    width: 120px;
    height: 120px;
}

.testimonial-p {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    line-height: 25px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-style: italic;
}

.testimonial-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    margin-top: 2%;
    padding: 0;
}

.testimonial-position {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    margin-top: 1%;
    padding: 0;
}